<%- include("../partials/layout-start", {title: title}) %>
<%- include("../partials/menu") %>
<h1><%= title %></h1>

<div class="row">
    <div class="col-sm-6">

        <%- include("form", {todo: todo}) %>

    </div>
</div>

<%- include("../partials/layout-end") %>
